/* ELEMENTS */
    $html: 62.5%;         // (1.6rem = 16px)

/* FONTS */    
    /* FONT STYLE */

    /* FONT VARIENT */

    /* FONT WEIGHT */

    /* FONT SIZE */
    $font-size-heading-1: 4.6rem;
    $font-size-heading-2: 4.0rem;
    $font-size-heading-3: 3.4rem;
    $font-size-heading-4: 2.8rem;
    $font-size-heading-5: 2.2rem;
    $font-size-heading-6: 1.6rem;
    $font-size-normal: 1.6rem;

    /* FONT FAMILY */
    $font-family: 'Inter', 'Work Sans', 'Lato', sans-serif;


/* COLOURS */
    /* THEME */
    $color-primary-theme: #8e898d;
    $color-secondary-theme: #3c354e;
    $color-accent-theme: #3a1656;

    /* TINTS */
    $color-primary-tint-light: #8e898d;
    $color-primary-tint-dark: #8e898d;
    $color-secondary-tint-light: #3c354e;
    $color-secondary-tint-dark: #3c354e;
    $color-accent-tint-light: #3a1656;    
    $color-accent-tint-dark: #3a1656;

    /* SHADES */

    /* DEFAULTS */
    $color-black: #000;
    $color-white: #FFF;